extends base
block content

    main.main
        .error
            .error__title 
                h2.heading-secondary.heading-secondary--error Uh oh! Somthiing went wrong.
                h2.error__emoji &#128546;
            .error__msg= msg